.Weather {
  background-color: #d2d6d2;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #dadde1;
  padding: 20px;
}

.Weather h1 {
  display: block;
  font-size: 35px;
  font-weight: 100px;
  line-height: 28px;
  color: #878787;
  margin-top: 20px;
  margin-left: 10px;
}

.Weather h2 {
  font-size: 16px;
  color: #565454;
  font-weight: 100px;
  line-height: 19px;
  margin-left: 10px;
}
.Weather input.form-control {
  border: 1px solid #71a0a5;
  border-radius: 2px;
  background: none;
  outline: none;
  color: inherit;
}
.Weather input.btn {
  background: #71a0a5;
  border: 1px solid #71a0a5;
  border: none;
  color: white;
}

.Weather .temperature {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  line-height: 1;

  position: relative;
  top: -34px;
}
.Weather canvas {
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-bottom;
}
.Weather .Wreapper {
  background: #71a0a5;
  padding: 10px 10px 2px 10px;
}
.Weather li {
  list-style-type: none;
  color: white;
  font-size: 16px;
  font-weight: 100px;
  line-height: 19px;
}
@media (max-width: 520px) {
  .Weather {
    padding: 20px 10px;
  }
  .Weather .Wreapper {
    padding: 10px 5px 10px 5px;
  }
}
@media (max-width: 300px) {
  .Weather input.btn {
    font-size: 14px;
  }
}
